.git
.github
.gitignore
.gitattributes
.idea
.vscode

node_modules
cache
data
preview

cookies.txt
*.cookies.txt
devices
device-secret

*.log
npm-debug.log*
.env
.env.local

README.md
docker-compose.yml
